{{#partial "content"}}
    <div class="text-center">
        <div class="jumbotron my-4 py-3">
            <h1>Welcome to HeroSquad</h1>
            <h1>Hero squad is a platform that allows users to create and save their heroes.</h1>
            <br>
            <div class="my-3 row justify-content-center py-3">
            <p><a href="/squads" class="btn btn-lg btn-warning mx-3">View Squads</a></p>
            <p><a href="/squad/new" class="btn btn-lg btn-success mx-3">Add a Squad</a></p>
            </div>
        </div>
    </div>
{{/partial}}


{{>layout.hbs}}